<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary mb-5">
    <a class="navbar-brand" [routerLink]="['/home']">BrunskerApp</a>
    <ul class="navbar-nav ml-auto mr-2" *ngIf="!loggedIn()">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-light" [routerLink]="['/login']"><i class="fa fa-user-circle"></i> Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-light" [routerLink]="['/register']"><i class="fa fa-user-plus"></i> Register</a>
        </li>
    </ul>
    <div class="dropdown ml-auto mr-5" *ngIf="loggedIn()" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
            Welcome {{ authService.decodedToken?.unique_name | titlecase }}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item text-light" [routerLink]="['/register']"><i class="fa fa-user-plus"></i> Register</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" [routerLink]="['/list']"><i class="fa fa-list-ul"></i> Lists</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
    </div>
</nav>