<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">BrunskerApp</h5>
    <nav class="my-2 my-md-0 mr-md-3 sticky-top">
        <a class="p-2 text-dark" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        <a class="p-2 text-dark" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
        <a class="p-2 text-dark" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
        <a class="p-2 text-dark" [routerLink]="['/list']" routerLinkActive="router-link-active" >Lists</a>        
        <a class="p-2 text-dark" [routerLink]="['/list']" routerLinkActive="router-link-active" >UserName</a>        
    </nav>    
</div>